<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voice.law.mapper.UserMapper">

    <!--用户权限列表-->
    <select id="findRoleListByUserId" parameterType="Integer" resultType="map">
    SELECT
	    role.role_name,
	    role.description
    FROM
	    user
	INNER JOIN user_role ON user_role.user_id = user.id
	INNER JOIN role ON role.id = user_role.role_id
    WHERE
	    user.id = #{userId}
    </select>

    <!--用户列表-->
    <select id="userList" parameterType="map" resultType="map">
		SELECT
        <if test="option == 'list'">
            u.id as userId,
            u.username as username,
            u.nick_name as nickName,
            u.name as name,
            u.id_card_no as idCardNo,
            u.avatar as avatar,
            u.sex_enum as sexEnum,
            u.industry as industry,
            u.occupation as occupation,
            u.education_enum as educationEnum,
            u.create_time as createTime,
            u.last_login_time as lastLoginTime,
            (select count(1) from login_record lr
            where lr.user_id = u.id and lr.login_time &lt;= #{now} and lr.login_time &gt;= #{lastYear}
            ) as countOnLineRangYear,
            (select count(1) from login_record lr
            where lr.user_id = u.id and lr.login_time &lt;= #{now} and lr.login_time &gt;= #{lastMonth}
            ) as countOnLineRangMonth,
            (select count(1) from login_record lr
            where lr.user_id = u.id and lr.login_time &lt;= #{now} and lr.login_time &gt;= #{lastWeek}
            ) as countOnLineRangWeek
        </if>
        <if test="option == 'count'">
            count(id) as totalCount
        </if>
        FROM
        user u
        WHERE 1 = 1
        <if test="username != null and username != ''">
            and u.username LIKE #{username}
        </if>
        <if test="name != null and name != ''">
            and u.name LIKE #{name}
        </if>
        <if test="nickName != null and nickName != ''">
            AND u.nick_name LIKE #{nickName}
        </if>
        <if test="idCardNo != null and idCardNo != ''">
            AND u.id_card_no = #{idCardNo}
        </if>
        <if test="userTypeEnumStr != null and userTypeEnumStr != ''">
            AND u.user_type_enum = #{userTypeEnumStr}
        </if>
        <if test="industryCode != null and industryCode != ''">
            AND u.industry_code = #{industryCode}
        </if>
        <if test="occupationCode != null and occupationCode != ''">
            AND u.occupation_code = #{occupationCode}
        </if>
        <if test="educationEnumStr != null and educationEnumStr != ''">
            AND u.education_enum = #{educationEnumStr}
        </if>
        <if test="createTimeStartStr != null and createTimeStartStr != ''">
            AND u.create_time &gt;= #{createTimeStartStr}
        </if>
        <if test="createTimeEndStr != null and createTimeEndStr != ''">
            AND u.create_time &lt;= #{createTimeEndStr}
        </if>
		<if test="option == 'list'">
		    order by u.create_time desc
			LIMIT #{offset}, #{pageSize}
		</if>
    </select>
</mapper>